@use 'mixins' as *;
@use 'typography';
@use 'variables';

* {
    margin: 0;
    padding: 0;
    font-family: variables.$font-stack;
    font-size: variables.$Mobile-Body-Copy-Text-Size;
    line-height: variables.$Mobile-Body-Copy-Line-Height;
    font-weight: 400;
    text-transform: capitalize;
    @include tablet{
        font-size: variables.$Tablet-Body-Copy-Text-Size;
        line-height: variables.$Tablet-Body-Copy-Line-Height;
    }
    @include desktop{
        font-size: variables.$Tablet-Body-Copy-Text-Size;
        line-height: variables.$Tablet-Body-Copy-Line-Height;
    }
}

header{
    background-color: variables.$BandSite-Black;
    @include tablet{
        padding-left: variables.$Tablet-Padding;
        display: flex;
        justify-content: left;
        align-items: center;
        width: 100vw;
    }
    @include desktop{
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: variables.$Desktop-Padding;
        width: 93.5%;
    }
}

.logo {
    text-align:center;
    padding: 1rem 5rem 0 5rem;
}

nav{
    ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .active{
            border-bottom: 2px solid variables.$BandSite-White;
        }
        li{
            list-style: none;
            padding: variables.$Mobile-Headlines-Padding-Before variables.$Mobile-Padding variables.$Mobile-Padding variables.$Mobile-Padding;
            &:hover{
                background-color: variables.$BandSite-Mercury;
                border-bottom: 2px solid variables.$BandSite-DarkBlack;
            }
            a{
                color: variables.$BandSite-White;
                text-decoration: none;
                font-size: variables.$Mobile-Section-Header-Text-Size;
                line-height: variables.$Mobile-Section-Header-Line-Height;
                h3{
                    font-weight: 700;
                }
                &:hover{
                    color: variables.$BandSite-DarkBlack;
                }
                @include tablet{
                    font-size: variables.$Tablet-Section-Header-Text-Size;
                    line-height: variables.$Tablet-Section-Header-Line-Height;
                }
                @include desktop{
                    font-size: variables.$Tablet-Section-Header-Text-Size;
                    line-height: variables.$Tablet-Section-Header-Line-Height;
                }
            }
        }
    }
}


.footer-container{
    background-color: variables.$BandSite-Black;
    color: variables.$BandSite-White;
    padding: variables.$Mobile-Padding;
    @include tablet{
        padding-left: variables.$Tablet-Padding-Text;
        padding-right: variables.$Tablet-Padding-Text;
    }
    @include desktop{
        padding-left: variables.$Desktop-Padding-Text;
        padding-right: variables.$Desktop-Padding-Text;
    }
    &__title{
        font-size: variables.$Mobile-Page-Header-Text-Size;
        line-height: variables.$Mobile-Page-Header-Line-Height;
        padding-left: variables.$Mobile-Padding;
        @include tablet{
            font-size: variables.$Tablet-Page-Header-Text-Size;
            line-height: variables.$Tablet-Page-Header-Line-Height;
        }
        @include desktop{
            font-size: variables.$Tablet-Page-Header-Text-Size;
            line-height: variables.$Tablet-Page-Header-Line-Height;
        }
        
    }
    &__icon-container{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: variables.$Mobile-Padding 0 variables.$Mobile-Padding variables.$Mobile-Padding;
        &__icon{
            img{
                width: 2rem;
                height: 2rem;
            }
        }     
    }
    h3{
        font-size: variables.$Mobile-Subheader-Text-Size;
        line-height: variables.$Mobile-Subheader-Line-Height;
        font-weight: 700;
        padding: variables.$Mobile-Padding 0 variables.$Mobile-Padding variables.$Mobile-Padding;
    }
    article{
        padding: variables.$Mobile-Padding 0 variables.$Mobile-Padding 0;
    }
    p {
        padding: variables.$Mobile-Padding 0 variables.$Mobile-Padding variables.$Mobile-Padding;
        a{
            color: variables.$BandSite-White;
            text-decoration: none;
            text-transform: none;
        }
    }
    &__logo{
        padding: 2rem 0 variables.$Mobile-Padding variables.$Mobile-Padding;
        @include tablet{
            padding: 2rem 0 variables.$Tablet-Padding 0; 
            position: relative;
            bottom: 20.5rem;
            left: 40rem; 
        }
        @include desktop{
            padding: 2rem 0 variables.$Tablet-Padding 0; 
            position: relative;
            bottom: 20.5rem;
            left: 55rem;  
        }
        text-align: left;
    }
    &__copyright{
        font-size: variables.$Mobile-Body-Copy-Text-Size;
        line-height: variables.$Mobile-Body-Copy-Line-Height;
    }
    @include tablet{
        &__get-in-touch-container{
            display: flex;
            align-items: center;
            gap: 2rem;
        }
        &__icon-container{
            gap: 2rem;
        }
        &__agencies{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__copyright{
            position: relative;
            bottom: 3rem;
        }
    }

    @include desktop{
        &__get-in-touch-container{
            display: flex;
            align-items: center;
            gap: 2rem;
        }
        &__icon-container{
            gap: 2rem;
        }
        &__agencies{
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 9rem;
        }
        &__copyright{
            position: relative;
            bottom: 3rem;
        }
    }

}

