$font-stack: Avenir;
$BandSite-Black: #323232;
$BandSite-Silver: #AFAFAF; 
$BandSite-White: #FFFFFF; 
$BandSite-DarkBlack: #000000; 
$BandSite-Mercury: #E1E1E1; 
$BandSite-Alabaster: #FAFAFA;

$Mobile-Page-Header-Text-Size: 1.5rem;
$Mobile-Page-Header-Line-Height: 2rem;
$Mobile-Section-Header-Text-Size: 1.5rem;
$Mobile-Section-Header-Line-Height: 2rem;
$Mobile-Subheader-Text-Size: 0.875rem;
$Mobile-Subheader-Line-Height: 1.375rem;
$Mobile-Body-Copy-Text-Size: 0.813rem;
$Mobile-Body-Copy-Line-Height: 1.125rem;
$Mobile-Footer-Copy-Text-Size: 0.813rem;
$Mobile-Footer-Copy-Line-Height: 1.125rem;
$Mobile-Buttons-Text-Size: 0.625rem;
$Mobile-Buttons-Line-Height: 1.25rem;
$Mobile-Headlines-Padding-Before: 1.5rem;
$Mobile-Padding: 1rem;

$Tablet-Page-Header-Text-Size: 3.75rem;
$Tablet-Page-Header-Line-Height: 4.25rem;
$Tablet-Section-Header-Text-Size: 2.25rem;
$Tablet-Section-Header-Line-Height: 2.75rem;
$Tablet-Subheader-Text-Size: 1.5rem;
$Tablet-Subheader-Line-Height: 2rem;
$Tablet-Body-Copy-Text-Size: 0.875rem;
$Tablet-Body-Copy-Line-Height: 1.375rem;
$Tablet-Footer-Copy-Text-Size: 0.875rem;
$Tablet-FooterCopy-Line-Height: 1.25rem;
$Tablet-Buttons-Text-Size: 0.75rem;
$Tablet-Buttons-Line-Height: 1.25rem;
$Tablet-Headlines-Padding-Before: 3rem;
$Tablet-Padding: 2.25rem;

$Desktop-Padding: 6rem;
$Desktop-Padding-Text: 10rem;