$font-stack: Avenir;
$BandSite-Black: #323232;
$BandSite-Silver: #AFAFAF; 
$BandSite-White: #FFFFFF; 
$BandSite-DarkBlack: #000000; 
$BandSite-Mercury: #E1E1E1; 
$BandSite-Alabaster: #FAFAFA;
$Mobile-Header-Text-Size: 3.5rem;
$Mobile-Header-Line-Height: 2rem;
$Mobile-Subheader-Text-Size: 1.75rem;
$Mobile-Subheader-Line-Height: 1.375rem;
$Mobile-Copy-Text-Size: 0.813rem;
$Mobile-Copy-Line-Height: 1.125rem;
$Mobile-Buttons-Text-Size: 0.625rem;
$Mobile-Buttons-Line-Height: 1.25rem;
$Mobile-Headlines-Padding-Before: 1.5rem;
$Mobile-Headlines-Padding-After: 1rem;
$Mobile-Headlines-Padding-Inbetween: 1rem;