@font-face {
  font-family: Avernir;
  src: url("/assets/Font/AvenirNextLTPro-Regular.otf") format("woff2"), url("/assets/Font/AvenirNextLTPro-Regular.otf") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: Avernir;
  src: url("/assets/Font/AvenirNextLTPro-Demi.otf") format("woff2"), url("/assets/Font/AvenirNextLTPro-Demi.otf") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: Avernir;
  src: url("/assets/Font/AvenirNextLTPro-Bold.otf") format("woff2"), url("/assets/Font/AvenirNextLTPro-Bold.otf") format("woff");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  font-family: Avenir;
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  text-transform: capitalize;
}
@media (min-width: 768px) {
  * {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 1280px) {
  * {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

hr {
  border: 1px solid #E1E1E1;
}

section {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  section {
    padding-left: 4.25rem;
    padding-right: 4.25rem;
  }
}
@media (min-width: 1280px) {
  section {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

h1 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #FFFFFF;
  font-weight: 700;
}
@media (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
@media (min-width: 1280px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    padding-left: 5rem;
  }
}

h2 {
  color: #323232;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media (min-width: 1280px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-left: 7rem;
    padding-top: 3rem;
  }
}

h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
  color: #000000;
}
@media (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 1280px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 3rem;
    margin-left: 12.5rem;
  }
}

a {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: none;
}
@media (min-width: 768px) {
  a {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media (min-width: 1280px) {
  a {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

blockquote {
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media (min-width: 768px) {
  blockquote {
    font-size: 2.25rem;
    line-height: 2rem;
    padding: 0 3.25rem;
  }
}
@media (min-width: 1280px) {
  blockquote {
    font-size: 1.5rem;
    line-height: 2rem;
    width: 56%;
    margin-left: 12.5rem;
  }
}

q {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 700;
  color: #000000;
  text-align: justify;
  text-transform: none;
}
@media (min-width: 768px) {
  q {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 1280px) {
  q {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

p {
  font-size: 0.875rem;
  line-height: 1.375rem;
  padding-top: 0.5rem;
  font-weight: 400;
  color: #000000;
  text-transform: none;
}
@media (min-width: 768px) {
  p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 1280px) {
  p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

header {
  background-color: #323232;
}
@media (min-width: 768px) {
  header {
    padding-left: 4.25rem;
    display: flex;
    justify-content: left;
    width: 100vw;
  }
}
@media (min-width: 1280px) {
  header {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 5rem;
    width: 93.5%;
  }
}

button {
  text-align: center;
  font-size: 0.813rem;
  line-height: 1.125rem;
  color: #FFFFFF;
  font-weight: 700;
  background-color: #323232;
  border: 0;
  border-radius: 4px;
  height: 2.5rem;
  width: 100%;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  button {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0 2rem;
    width: 40%;
  }
}
@media (min-width: 1280px) {
  button {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0 2rem;
    width: 40%;
  }
}
button:hover {
  background-color: #000000;
}

.logo {
  text-align: center;
  padding: 1rem 5rem 0 5rem;
}
@media (min-width: 768px) {
  .logo {
    padding: 1rem 5rem 0 0;
  }
}
@media (min-width: 1280px) {
  .logo {
    padding: 1rem 5rem 2rem 5rem;
  }
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav ul .active {
  border-bottom: 2px solid #FFFFFF;
}
nav ul .active h3 {
  color: #E1E1E1;
  font-weight: 600;
}
@media (min-width: 768px) {
  nav ul {
    gap: 2rem;
  }
}
nav ul li {
  list-style: none;
  padding: 1.5rem 1rem 1rem 1rem;
}
nav ul li:hover {
  background-color: #E1E1E1;
  border-bottom: 2px solid #000000;
}
@media (min-width: 1280px) {
  nav ul li {
    padding-bottom: 2rem;
  }
}
nav ul li a h3 {
  padding: 0;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 0.813rem;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  nav ul li a h3 {
    padding-bottom: 1rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 1280px) {
  nav ul li a h3 {
    margin-left: 0;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
nav ul li a:hover {
  color: #000000;
}

.footer-container {
  background-color: #323232;
  color: #FFFFFF;
  padding: 1rem;
}
@media (min-width: 768px) {
  .footer-container {
    padding-left: 4.25rem;
    padding-right: 4.25rem;
  }
}
@media (min-width: 1280px) {
  .footer-container {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 2rem;
  }
}
.footer-container__title {
  color: #FFFFFF;
  text-transform: none;
}
@media (min-width: 1280px) {
  .footer-container__title {
    padding-left: 0;
    padding-top: 0;
  }
}
.footer-container__icon-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0 1rem 0;
}
.footer-container__icon-container__icon img {
  width: 2rem;
  height: 2rem;
}
.footer-container p {
  color: #FFFFFF;
}
.footer-container article {
  padding: 0;
}
.footer-container article h3 {
  font-size: 0.813rem;
  line-height: 1.125rem;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .footer-container article h3 {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer-container article p {
  font-size: 0.813rem;
  line-height: 1.125rem;
  text-transform: capitalize;
}
@media (min-width: 768px) {
  .footer-container article p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer-container article a {
  text-transform: none;
  font-size: 0.813rem;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  .footer-container article a {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
@media (min-width: 1280px) {
  .footer-container article a {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.footer-container__copyright {
  font-size: 0.813rem;
  line-height: 1.125rem;
}
.footer-container__logo {
  margin-top: 1rem;
  text-align: left;
}
@media (min-width: 768px) {
  .footer-container__logo {
    padding: 2rem 0 4.25rem 0;
    position: relative;
    bottom: 13.5rem;
    left: 40rem;
    margin-top: 0;
  }
}
@media (min-width: 1280px) {
  .footer-container__logo {
    position: relative;
    bottom: 17.5rem;
    left: 60rem;
    margin-top: 0;
  }
  .footer-container__logo--shows {
    bottom: 16rem;
  }
}
@media (min-width: 768px) {
  .footer-container__get-in-touch-container {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .footer-container__icon-container {
    gap: 2rem;
    margin-top: 1rem;
  }
  .footer-container__agencies {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-container__copyright {
    position: relative;
    bottom: 6rem;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .footer-container__copyright {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
@media (min-width: 1280px) {
  .footer-container__get-in-touch-container {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .footer-container__icon-container {
    gap: 2rem;
  }
  .footer-container__agencies {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 9rem;
  }
  .footer-container__agencies h3 {
    margin-left: 0;
  }
  .footer-container__agencies__email {
    margin-top: 2rem;
  }
  .footer-container__agencies article p a {
    padding-top: 2rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .footer-container__copyright {
    position: relative;
    bottom: 3rem;
    margin-top: 4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.div__image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  overflow: hidden;
  margin: 1rem;
}

.hero-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 35vh;
}
.hero-section--bio-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/Images/hero-bio.jpg");
}
@media (min-width: 768px) {
  .hero-section {
    height: 70vh;
  }
}
@media (min-width: 1280px) {
  .hero-section {
    height: 70vh;
  }
}
.hero-section__title {
  position: relative;
  top: 45%;
  left: 1rem;
}

@media (min-width: 768px) {
  .about-section .div__image {
    padding: 0 2.5rem;
  }
}
@media (min-width: 1280px) {
  .about-section .div__image {
    padding: 0px 8rem;
    margin-left: 5rem;
  }
}
.about-section .div__image img {
  width: 100%;
  height: 100%;
}
.about-section__quote p {
  font-weight: 600;
}
@media (min-width: 768px) {
  .about-section__quote p {
    padding-top: 0.75rem;
  }
}
@media (min-width: 768px) {
  .about-section h3 {
    padding: 4rem 4rem 1rem 3.25rem;
  }
}
@media (min-width: 768px) {
  .about-section article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 48rem;
    padding-left: 3.25rem;
  }
}
@media (min-width: 1280px) {
  .about-section article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65rem;
    margin-left: 12.5rem;
  }
}
@media (min-width: 768px) {
  .about-section article p {
    width: 48%;
    padding-right: 5.25rem;
  }
}
@media (min-width: 1280px) {
  .about-section article p {
    width: 48%;
    padding-right: 5.25rem;
  }
}

.photo-gallery {
  background-color: #FAFAFA;
}
.photo-gallery__image-container {
  padding-bottom: 1rem;
}
.photo-gallery .div__image {
  margin: 0.75rem 0.75rem 0 0;
}
.photo-gallery .div__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.photo-gallery .div__image:hover {
  filter: grayscale(1);
}
@media (min-width: 768px) {
  .photo-gallery__image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
  }
  .photo-gallery__image-container .div__image {
    flex-basis: 28%;
    padding: 0;
  }
  .photo-gallery__image-container .div__image img {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1280px) {
  .photo-gallery__image-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 7rem;
  }
  .photo-gallery__image-container .div__image {
    flex-basis: 30%;
    padding: 0;
  }
  .photo-gallery__image-container .div__image img {
    width: 100%;
    height: 100%;
  }
}

.comments__form {
  padding-left: 1rem;
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .comments__form {
    padding-left: 4.25rem;
  }
}
@media (min-width: 1280px) {
  .comments__form {
    margin-left: 28%;
  }
}
.comments__form__avatar {
  background-color: #E1E1E1;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-top: 1.5rem;
}
@media (min-width: 768px) {
  .comments__form__avatar {
    width: 3rem;
    height: 3rem;
  }
}
@media (min-width: 1280px) {
  .comments__form__avatar {
    width: 3rem;
    height: 3rem;
  }
}
.comments__form__avatar img {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}
@media (min-width: 768px) {
  .comments__form__avatar img {
    width: 3rem;
    height: 3rem;
  }
}
@media (min-width: 1280px) {
  .comments__form__avatar img {
    width: 3rem;
    height: 3rem;
  }
}
.comments__form__inputs {
  width: 100%;
  padding-right: 2rem;
}
@media (min-width: 1280px) {
  .comments__form__inputs {
    width: 52%;
  }
}
.comments__form__inputs label,
.comments__form__inputs input {
  display: flex;
  flex-direction: column;
}
.comments__form__inputs label {
  color: #E1E1E1;
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .comments__form__inputs label {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 1280px) {
  .comments__form__inputs label {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 768px) {
  .comments__form__inputs button {
    height: 3.25rem;
    position: relative;
    left: 21.6rem;
  }
}
@media (min-width: 1280px) {
  .comments__form__inputs button {
    position: relative;
    left: 17.9rem;
    height: 3.25rem;
  }
}
.comments__form__inputs__input {
  height: 2rem;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #E1E1E1;
  padding: 0.75rem;
  border-radius: 4px;
  margin: 0.25rem 0;
}
@media (min-width: 768px) {
  .comments__form__inputs__input {
    height: 3rem;
    padding: 1rem;
  }
}
@media (min-width: 1280px) {
  .comments__form__inputs__input {
    height: 3rem;
    padding: 1rem;
  }
}
.comments__form__inputs__input--textarea {
  height: 5rem;
  text-transform: none;
}
@media (min-width: 768px) {
  .comments__form__inputs__input--textarea {
    height: 8rem;
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .comments__form__inputs__input--textarea {
    height: 8rem;
  }
}
.comments__form__inputs__input::-moz-placeholder {
  color: #323232;
}
.comments__form__inputs__input::placeholder {
  color: #323232;
}
.comments__form__inputs__input:active {
  border-color: #323232;
}
.comments__form__inputs__input:invalid {
  border-color: #d22d2d;
}

@media (min-width: 1280px) {
  .posted-comments {
    margin-left: 23.5rem;
    width: 38.5%;
  }
}
.posted-comments__container {
  display: flex;
  gap: 2rem;
  margin: 1rem 0 1rem 0;
}
@media (min-width: 768px) {
  .posted-comments__container {
    padding: 0;
  }
}
.posted-comments__container__avatar {
  background-color: #E1E1E1;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}
@media (min-width: 768px) {
  .posted-comments__container__avatar {
    width: 3rem;
    height: 3rem;
  }
}
@media (min-width: 1280px) {
  .posted-comments__container__avatar {
    width: 3rem;
    height: 3rem;
  }
}
.posted-comments__container__avatar img {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}
@media (min-width: 768px) {
  .posted-comments__container__avatar img {
    width: 3rem;
    height: 3rem;
  }
}
@media (min-width: 1280px) {
  .posted-comments__container__avatar img {
    width: 3rem;
    height: 3rem;
  }
}
.posted-comments__container__inputs {
  color: #323232;
}
.posted-comments__container__inputs__time {
  color: #E1E1E1;
  padding: 0;
  position: absolute;
  right: 1rem;
}
@media (min-width: 768px) {
  .posted-comments__container__inputs__time {
    right: 4rem;
  }
}
@media (min-width: 1280px) {
  .posted-comments__container__inputs__time {
    right: 29rem;
  }
}
.posted-comments__container__inputs__name {
  font-weight: 700;
  padding: 0;
}
@media (min-width: 1280px) {
  .posted-comments__container__inputs__name {
    margin-left: 0;
  }
}
.posted-comments__container__inputs__comment {
  text-transform: none;
}
.posted-comments__container__inputs__buttons {
  display: flex;
  gap: 2rem;
  margin-top: 0.25rem;
  text-align: center;
}
.posted-comments__container__inputs__buttons__button {
  width: 100%;
}
.posted-comments__container__inputs__buttons__button button {
  margin: 0;
  width: 5rem;
  padding: 0 0.35rem;
}
@media (min-width: 768px) {
  .posted-comments__container__inputs__buttons__button button {
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .posted-comments__container__inputs__buttons__button button {
    width: 100%;
  }
}
.posted-comments__container__inputs__buttons__button__like-text {
  font-weight: 400;
  padding-top: 0.25rem;
  padding-bottom: 0;
}
@media (min-width: 1280px) {
  .posted-comments__container__inputs__buttons__button__like-text {
    padding: 0;
    margin: 0;
  }
}/*# sourceMappingURL=bio.css.map */